body {

    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

#header {

    border: 1.5px solid #cccccc;
}

p {
    color: #666666;
}

.icon {
    width: 60px;
}

.container {
    padding-bottom: 40px;
}

#footer {
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    display: flex;
    font-size: 10px;
    color:#dddddd;
    justify-content: center;
    align-items: center;
    text-align: center;
}